<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Run on Chrome Browser">
        <parameter name="browser" value="CHROME"/>
        <packages>
            <package name="packagetest2"></package>
        </packages>
    </test>
    <test name="Run on FireFox Browser">
        <parameter name="browser" value="FIREFOX"/>
        <packages>
            <package name="packagetest2"></package>
        </packages>
    </test>
    <test name="Run on Edge Browser">
        <parameter name="browser" value="EDGE"/>
        <packages>
            <package name="packagetest2"></package>
        </packages>
    </test>
</suite>